@font-face {
  font-family: 'HelveticaNowDisplay-Black';
  src: url('./assets/fonts/HelveticaNowDisplay-Black.ttf');
}

@font-face {
  font-family: 'HelveticaNowDisplay-BlackIta';
  src: url('./assets/fonts/HelveticaNowDisplay-BlackIta.ttf');
}

@font-face {
  font-family: 'HelveticaNowDisplay-Bold';
  src: url('./assets/fonts/HelveticaNowDisplay-Bold.ttf');
}

@font-face {
  font-family: 'HelveticaNowDisplay-BoldIta';
  src: url('./assets/fonts/HelveticaNowDisplay-BoldIta.ttf');
}

@font-face {
  font-family: 'HelveticaNowDisplay-ExtBdIta';
  src: url('./assets/fonts/HelveticaNowDisplay-ExtBdIta.ttf');
}

@font-face {
  font-family: 'HelveticaNowDisplay-ExtBlk';
  src: url('./assets/fonts/HelveticaNowDisplay-ExtBlk.ttf');
}

@font-face {
  font-family: 'HelveticaNowDisplay-ExtBlkIta';
  src: url('./assets/fonts/HelveticaNowDisplay-ExtBlkIta.ttf');
}

@font-face {
  font-family: 'HelveticaNowDisplay-ExtLt';
  src: url('./assets/fonts/HelveticaNowDisplay-ExtLt.ttf');
}

@font-face {
  font-family: 'HelveticaNowDisplay-ExtLtIta';
  src: url('./assets/fonts/HelveticaNowDisplay-ExtLtIta.ttf');
}

@font-face {
  font-family: 'HelveticaNowDisplay-ExtraBold';
  src: url('./assets/fonts/HelveticaNowDisplay-ExtraBold.ttf');
}

@font-face {
  font-family: 'HelveticaNowDisplay-Hairline';
  src: url('./assets/fonts/HelveticaNowDisplay-Hairline.ttf');
}

@font-face {
  font-family: 'HelveticaNowDisplay-HairlineI';
  src: url('./assets/fonts/HelveticaNowDisplay-HairlineI.ttf');
}

@font-face {
  font-family: 'HelveticaNowDisplay-Light';
  src: url('./assets/fonts/HelveticaNowDisplay-Light.ttf');
}

@font-face {
  font-family: 'HelveticaNowDisplay-LightIta';
  src: url('./assets/fonts/HelveticaNowDisplay-LightIta.ttf');
}

@font-face {
  font-family: 'HelveticaNowDisplay-MedIta';
  src: url('./assets/fonts/HelveticaNowDisplay-MedIta.ttf');
}

@font-face {
  font-family: 'HelveticaNowDisplay-Medium';
  src: url('./assets/fonts/HelveticaNowDisplay-Medium.ttf');
}

@font-face {
  font-family: 'HelveticaNowDisplay-RegIta';
  src: url('./assets/fonts/HelveticaNowDisplay-RegIta.ttf');
}

@font-face {
  font-family: 'HelveticaNowDisplay-Regular';
  src: url('./assets/fonts/HelveticaNowDisplay-Regular.ttf');
}

@font-face {
  font-family: 'HelveticaNowDisplay-Thin';
  src: url('./assets/fonts/HelveticaNowDisplay-Thin.ttf');
}

@font-face {
  font-family: 'HelveticaNowDisplay-ThinIta';
  src: url('./assets/fonts/HelveticaNowDisplay-ThinIta.ttf');
}
